<p id="notice"><%= notice %></p>

<h1><center>Listing <%= @current_user.name %> Pins</center></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Board</th>
      <th>Url</th>
      <th>Pin image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.title %></td>
        <td><%= pin.description %></td>
        <td><%= pin.board.name %></td>
        <td><%= pin.url %></td>
        <td><%= image_tag(pin.pin_image) %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @pins %>
<div class="font">
  <button type="button" class="btn btn-default"><%= link_to 'New Pin', new_pin_path %></button><br><br>
  <button type="button" class="btn btn-default"><%= link_to 'Back to Home Page', root_path %></button><br><br>
</div>
